[submodule "tclconfig"]
	path = tclconfig
	url = https://github.com/tcltk/tclconfig
	shallow = true
[submodule "tests/JSONTestSuite"]
	path = tests/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite
	shallow = true
