*.swp
*.swo
*.o
*.a
*.so
*.gcda
*.gcno
*.gcov
*~
core
vgcore.*
autom4te.cache
configure
config.log
config.status
Makefile
pkgIndex.tcl
rl_jsonConfig.sh
cachegrind.out*
perf.data
perf.data.old
.cproject
.project
.settings
tests/JSONTestSuite/test_parsing
tests/JSONTestSuite/test_transform
tclobjs_remaining
tags
last
rundata
