*.swp
*.swo
*.o
*.so
*.a
core
vgcore.*
autom4te.cache
config.log
config.status
Makefile
pkgIndex.tcl
rl_jsonConfig.sh
cachegrind.out*
perf.data
perf.data.old
*.gcda
*.gcno
*.gcov
.cproject
.project
.settings
tests/JSONTestSuite/test_parsing
